.side-panel {
    position: fixed;
}

.side-panel-content {
    display: block;
}

.content {
    display: block;
}

.hidden-content {
    display: none;
}

button {
    display: none;
}

@media (max-width: 850px) {
    .hidden-content {
        display: block;
        width: 100%;
        display: inline-flex;
        padding-bottom: 30px;
        margin-left: 15px;
    }
    .content{
        display: none;
    }
    .side-panel {
        margin-top: -9px;
        position: fixed;
        display: inline-flex;
        width: 100%;
        background-color: rgba(240, 128, 24, 0.96);
    }
    .side-panel-content {
        display: inline-flex;
    }
    button {
        position: fixed;
        cursor: pointer;
        display: block;
        height: 50px;
        width: 60px;
        display: inline;
        margin-top: 20px;
        margin-left: 20px; 
        background-color: rgb(99, 0, 0);
        color: #fff;
        border-radius: 10px;
        border: #fff;
        border-style: double;
    }
    button:hover {
        background-color: rgb(168, 0, 0);
    }
    button:active {
        transform: scale(0.95);
    }
}

@media (max-width: 360px) {
    .hidden-content {
        margin-left: 5px;
    }
    button {
        margin-left: 15px;
    }
}

