.news {
    margin-left: 300px;
}


@media (max-width: 1200px) {
    .news {
        margin-left: 25%;
    }
} 
@media (max-width: 850px) {
    .news {
        margin-left: 15%;
        padding-top: 100px;
    }
}

@media (max-width: 700px) {
    .news {
        margin-left: 7%;
    }
}

@media (max-width: 640px) {
    .news {
        margin-left: 20%;
    }
}